<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HISDatabase" connectionString="Data Source=你的HIS数据库服务器;Initial Catalog=你的数据库名;User ID=用户名;Password=密码;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="HRVBaseUrl" value="http://HRV一体机IP:8080"/>
    <add key="HRVUsername" value="your-username"/>
    <add key="HRVPassword" value="your-password"/>
    <add key="HRVAuthMode" value="password"/>
    <add key="SyncIntervalSeconds" value="60"/>
    <add key="ReportSavePath" value=".\Reports"/>
    <add key="ReportFormat" value="PDF"/>
    <add key="LogFilePath" value=".\Logs\app.log"/>
    <add key="MaxRetries" value="3"/>
    <add key="RetryDelaySeconds" value="5"/>
  </appSettings>
</configuration>
